<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApplicationAccount">
	<select id="applicatonAccountBind" parameterType="Long" resultType="map">
		select id,aa.user_id as userId,application_id  as applicationId from application_account aa  where aa.user_id=#{loginUserId} 
	</select>

</mapper>