<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="File">
	<select id="homeLogoInfo" parameterType="String" resultType="map">
		select sf.id fileId,file_url from sys_file sf where sf.file_type=#{_fileType}
	</select>
</mapper>