<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="logger">
	<insert id="insert_login_logger" parameterType="com.bh.model.LoginLoggerModel">
		insert into login_logger(login_name,ip,browser,loginTime,system,success) values (#{loginName},#{ip},#{browser},now(),#{system},#{success})
	</insert>
	
</mapper>